.Wallpaper {
	
	background: linear-gradient(180deg, #1787C6 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(32, 94, 253, 0.32) 57.08%, rgba(255, 255, 255, 0) 100%), #CAE4EF;
	position: relative;
	width: 1920px;
	height: 4000px;
}

.Header {
	
	position: absolute;
	width: 1920px;
	height: 80px;
	left: 8px;
	top: 0px;
	background: #207ACD;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.HeaderIcon {
	
	position: absolute;
	width: 373.66px;
	height: 42.74px;
	left: 79.99px;
	top: 22.89px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;

	color: #DBF1FD;	
}

.HeaderUserName {
	
	position: absolute;
	width: 312.99px;
	height: 45.5px;
	left: 905.72px;
	top: 22.89px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	text-align: center;

	color: #B2C8F1;
}

.HeaderLogin {
	
	position: absolute;
	width: 242.67px;
	height: 40.18px;
	left: 1166.33px;
	top: 29.89px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 31px;
	text-align: center;

	color: #B2C8F1;
}

.HeaderRectangle {
	
	position: absolute;
	width: 166.84px;
	height: 46.22px;
	left: 1204px;
	top: 23.89px;

	background: #207ACD;
	border: 3px solid #AED4EA;
	box-sizing: border-box;
	border-radius: 30px;	
}



.Footer {
	
	position: absolute;
	width: 1920px;
	height: 68px;
	left: 8px;	
	top: 4000px;

	background: #DBE5EB;
	transform: matrix(-1, 0, 0, 1, 0, 0);	
}

.FooterIcon {
	
	position: absolute;
	width: 139.43px;
	height: 41.36px;
	left: 79.99px;
	top: 4020px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;

	color: #033798;
}

.FooterData {
	
	position: absolute;
	width: 114.44px;
	height: 22.06px;
	left: 674.78px;
	top: 4023.32px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	color: #033798;
}

.FooterName {
	
	position: absolute;
	width: 194.41px;
	height: 68px;
	left: 1306.48px;
	top: 4010px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: right;

	color: #033798;
}

.FooterInfo {
	
	position: absolute;
	width: 194.41px;
	height: 68px;
	left: 1306.48px;
	top: 4025px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;	
	line-height: 20px;
	text-align: right;

	color: #033798;
}

.FooterEmail {
	position: absolute;
	width: 194.41px;
	height: 68px;
	left: 1306.48px;
	top: 4040px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: right;

	color: #033798;
}



.Filter {
	position: absolute;
	width: 600px;
	height: 46.59px;
	left: 400px;
	top: 100px;

	background: #DBF1FD;
	border-radius: 30px;	
}

.FilterName {
	
	position: absolute;
	width: 120.25px;
	height: 41.08px;
	left: 410.00px;
	top: 105.19px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;

	color: #0055F9;
}

.FilterSale {
	
	position: absolute;
	width: 137.64px;
	height: 34.23px;
	left: 575.00px;
	top: 110.19px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000F5E;
}

.FilterData {
	
	position: absolute;
	width: 137.64px;
	height: 34.23px;
	left: 685.00px;
	top: 110.19px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000F5E;
}

.FilterInfoName {
	
	position: absolute;
	width: 137.64px;
	height: 34.23px;
	left: 795.00px;
	top: 110.19px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000F5E;
}

.FilterFind {
	
	position: absolute;
	width: 120.25px;
	height: 41.08px;
	left: 855.00px;
	top: 106.19px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	text-decoration-line: underline;

	color: #0055F9;
}

.FilterSaleRectangle {
	
	position: absolute;
	width: 100px;
	height: 39.36px;
	left: 540.09px;
	top: 105.19px;

	background: #96D3FC;
	border-radius: 20px;
}

.FilterDataRectangle {
	
	position: absolute;
	width: 100px;
	height: 39.36px;
	left: 652.09px;
	top: 105.19px;

	background: #96D3FC;
	border-radius: 20px;
}

.FilterInfoNameRectangle {
	
	position: absolute;
	width: 100px;
	height: 39.36px;
	left: 765.09px;
	top: 105.19px;

	background: #96D3FC;
	border-radius: 20px;
}

.Window1 {
	
	position: absolute;
	width: 500px;
	height: 500px;
	left: 847px;
	top: 165px;

	background: #DBF1FD;
	border-radius: 30px;
}

.WindowTag{
	
	position: absolute;
	width: 569.21px;
	height: 23.47px;
	left: 860px;
	top: 175px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;	
	line-height: 20px;

	color: #000F5E;
}

.WindowPicture {
	
	position: absolute;
	width: 194.82px;
	height: 194.82px;
	left: 857.00px;
	top: 200.00px;

	background: url(something.jpg);
	border-radius: 30px;
}

.WindowName {
	
	position: absolute;
	width: 317.34px;
	height: 30.51px;
	left: 1100.00px;
	top: 230.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;

	color: #0055F9;

}

.WindowDescription {
	
	position: absolute;
	width: 240.24px;
	height: 130.34px;
	left: 1070.0px;
	top: 270.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	color: #9BA1A5;	
}

.WindowStars {
	
	position: absolute;
	width: 232px;
	height: 20px;
	left: 857.00px;
	top: 410.00px;

	background: #EBEF12;
	border: 1px solid #F5DE0C;
	box-sizing: border-box;
}

.WindowVendor {
	
	position: absolute;
	width: 167.45px;
	height: 32.02px;
	left: 830.00px;
	top: 440.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	text-align: center;

	color: #0A007A;
}

.WindowData {
	
	position: absolute;
	width: 373.42px;
	height: 32.86px;
	left: 980.00px;
	top: 470.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #0A007A;
}

.WindowLearnMore {
	
	position: absolute;
	width: 175.14px;
	height: 32.02px;
	left: 1030.00px;
	top: 440.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #0A007A;
}

.WindowComment1 {
	position: absolute;
	width: 370.27px;
	height: 45.77px;
	left: 925.00px;
	top: 490.0px;

	font-family: Salsa;	
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;	
}

.WindowComment2 {
	
	position: absolute;
	width: 370.27px;
	height: 45.77px;
	left: 925.00px;
	top: 515.9px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.WindowPercent {
	
	position: absolute;
	width: 77.46px;
	height: 82.15px;
	left: 1235.00px;
	top: 440.37px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #0A007A;
}

.WindowEstimate {
	position: absolute;
	width: 100.48px;
	height: 100.48px;
	left: 1235.00px;
	top: 580.00px;

	background: url(star.png);
	border-radius: 30px;
}



.Window2 {
	
	position: absolute;
	width: 500px;
	height: 500px;
	left: 147px;
	top: 165px;

	background: #DBF1FD;
	border-radius: 30px;
}

.WindowTag2 {
	
	position: absolute;
	width: 569.21px;
	height: 23.47px;
	left: 160px;
	top: 175px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;	
	line-height: 20px;

	color: #000F5E;
}

.WindowPicture2 {
	
	position: absolute;
	width: 194.82px;
	height: 194.82px;
	left: 157.00px;
	top: 200.00px;

	background: url(something.jpg);
	border-radius: 30px;
}

.WindowName2 {
	
	position: absolute;
	width: 317.34px;
	height: 30.51px;
	left: 390.00px;
	top: 230.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;

	color: #0055F9;

}

.WindowDescription2 {
	
	position: absolute;
	width: 240.24px;
	height: 130.34px;
	left: 360.0px;
	top: 270.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	color: #9BA1A5;	
}

.WindowStars2 {
	
	position: absolute;
	width: 232px;
	height: 20px;
	left: 147.00px;
	top: 410.00px;

	background: #EBEF12;
	border: 1px solid #F5DE0C;
	box-sizing: border-box;
}

.WindowVendor2 {
	
	position: absolute;
	width: 167.45px;
	height: 32.02px;
	left: 120.00px;
	top: 440.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	text-align: center;

	color: #0A007A;
}

.WindowData2 {
	
	position: absolute;
	width: 373.42px;
	height: 32.86px;
	left: 270.00px;
	top: 470.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #0A007A;
}

.WindowLearnMore2 {
	
	position: absolute;
	width: 175.14px;
	height: 32.02px;
	left: 320.00px;
	top: 440.00px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #0A007A;
}

.WindowComment12 {
	position: absolute;
	width: 370.27px;
	height: 45.77px;
	left: 157.00px;
	top: 490.0px;

	font-family: Salsa;	
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;	
}

.WindowComment22 {
	
	position: absolute;
	width: 370.27px;
	height: 45.77px;
	left: 150.00px;
	top: 525.9px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.WindowPercent2 {
	
	position: absolute;
	width: 77.46px;
	height: 82.15px;
	left: 525.00px;
	top: 440.37px;

	font-family: Salsa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #0A007A;
}

.WindowEstimate2 {
	position: absolute;
	width: 100.48px;
	height: 100.48px;
	left: 525.00px;
	top: 520.00px;

	background-image: url(something.png);
	border-radius: 30px;
}